# Copy to .env.uat on the UAT server and replace the client secret locally.
SSO_VERIFY_AUTHORIZATION_URL=https://demo.021hqit.com/keycloak/realms/fly/protocol/openid-connect/auth
SSO_VERIFY_TOKEN_URL=https://demo.021hqit.com/keycloak/realms/fly/protocol/openid-connect/token
SSO_VERIFY_USERINFO_URL=https://demo.021hqit.com/keycloak/realms/fly/protocol/openid-connect/userinfo
SSO_VERIFY_CLIENT_ID=fly
SSO_VERIFY_CLIENT_SECRET=replace-with-the-fly-client-secret
SSO_VERIFY_SCOPE=openid
SSO_VERIFY_REDIRECT_URI=https://uat.021hqit.com/fly-print-site-portal/callback
SSO_VERIFY_STATE_TTL=5m
SSO_VERIFY_HTTP_TIMEOUT=10s
